<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to our site</h1>
    <p>
      You have successfully signed up,
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'ACTIVATE', activate_user_url(@user.activation_token), method: :put %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
